<section class="nav">
  
  <div class="navdec">
   </div>
  
  <div class="navlinkleft">
    <a href="sketches.html" class="navlinkleft">sketches</a>
  </div>
  
  <div class="navlinkleft">
    <a href="projects.html" class="navlinkleft">projects</a>
  </div>
  
  <div class="navdec">
  </div>

  <div class="shadowmove">
  <a href='index.html'><p>s alvarez</p></a>
  s alvarez
  </div>
 
  <div class="navdec">
  </div>
 
  <div class="navlinkright">
    <a href="bio.html" class="navlinkright">bio</a>
  </div>
  
  <div class="navlinkright">
    <a href="contact.html" class="navlinkright">contact</a>
  </div>
 
  <div class="navdec">
  </div>
 
 </section>
